@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%; /* white */
    --foreground: 224 71.4% 4.1%; /* near black */
    
    --card: 0 0% 100%; /* white */
    --card-foreground: 224 71% 4%; /* dark gray */
    
    --popover: 0 0% 100%; /* white */
    --popover-foreground: 224 71.4% 4.1%; /* near black */

    --primary: 197 100% 47%; /* #00aaef */
    --primary-foreground: 0 0% 100%; /* white */

    --secondary: 209 18% 64%; /* rgb(149, 164, 178) */
    --secondary-foreground: 0 0% 98%; /* very light gray for contrast */

    --muted: 210 20% 98%; /* very light, cool gray */
    --muted-foreground: 216 10% 45%; /* medium-dark slate gray */

    --accent: 210 20% 94%; /* light cool gray */
    --accent-foreground: 216 15% 25%; /* dark slate gray */

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 214 20% 85%;
    --input: 214 20% 85%;
    --ring: 197 100% 47%; /* #00aaef */
    
    --radius: 0.5rem;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
