
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    
    --card: 0 0% 100%;
    --card-foreground: 224 71% 4%;
    
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 197 100% 47%;
    --primary-foreground: 0 0% 100%;

    --secondary: 209 15% 65%;
    --secondary-foreground: 0 0% 100%;

    --muted: 180 8% 86%;
    --muted-foreground: 180 5% 30%;

    --accent: 220 9% 40%;
    --accent-foreground: 197 100% 47%;

    --destructive: 0 84.2% 40.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 220 13% 88%;
    --input: 220 13% 88%;
    --ring: 197 100% 47%;
    
    --radius: 0.5rem;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-foreground;
  }
  
}

/* --- DEBUG GRID START --- */
@layer utilities {
    *:not(path):not(g) {
      outline: 1px dashed hsl(210, 100%, 50%);
    }
    
    * *:not(path):not(g) {
        outline: 1px dashed hsl(180, 100%, 50%);
    }
    
    * * *:not(path):not(g) {
        outline: 1px dashed hsl(150, 100%, 50%);
    }

    * * * *:not(path):not(g) {
        outline: 1px dashed hsl(120, 100%, 50%);
    }

    * * * * *:not(path):not(g) {
        outline: 1px dashed hsl(90, 100%, 50%);
    }

    * * * * * *:not(path):not(g) {
        outline: 1px dashed hsl(60, 100%, 50%);
    }

    * * * * * * *:not(path):not(g) {
        outline: 1px dashed hsl(30, 100%, 50%);
    }

    * * * * * * * *:not(path):not(g) {
        outline: 1px dashed hsl(0, 100%, 50%);
    }
}
/* --- DEBUG GRID END --- */


.nav-link-indicator {
  @apply absolute top-0 h-full rounded-md transition-all duration-500 ease-in-out;
  width: var(--indicator-width, 0);
  transform: translateX(var(--indicator-left, 0));
  z-index: 5;
}

@layer utilities {
    @keyframes marquee {
        from { transform: translateX(0); }
        to { transform: translateX(-50%); }
    }

    .marquee {
        animation: marquee 60s linear infinite;
    }
}
