
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    
    --card: 0 0% 100%;
    --card-foreground: 224 71% 4%;
    
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 197 100% 47%;
    --primary-foreground: 0 0% 100%;

    --secondary: 209 15% 65%;
    --secondary-foreground: 0 0% 100%;

    --muted: 180 8% 86%;
    --muted-foreground: 180 5% 30%;

    --accent: 220 9% 40%;
    --accent-foreground: 197 100% 47%;

    --destructive: 0 84.2% 40.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 220 13% 88%;
    --input: 220 13% 88%;
    --ring: 197 100% 47%;
    
    --radius: 0.5rem;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-foreground;
  }

  .prose-vita-colors {
    --tw-prose-body: inherit;
    --tw-prose-headings: inherit;
    --tw-prose-lead: inherit;
    --tw-prose-links: inherit;
    --tw-prose-bold: inherit;
    --tw-prose-counters: inherit;
    --tw-prose-bullets: inherit;
    --tw-prose-hr: inherit;
    --tw-prose-quotes: inherit;
    --tw-prose-quote-borders: inherit;
    --tw-prose-captions: inherit;
    --tw-prose-code: inherit;
    --tw-prose-pre-code: inherit;
    --tw-prose-pre-bg: inherit;
    --tw-prose-th-borders: inherit;
    --tw-prose-td-borders: inherit;
    --tw-prose-invert-body: inherit;
    --tw-prose-invert-headings: inherit;
    --tw-prose-invert-lead: inherit;
    --tw-prose-invert-links: inherit;
    --tw-prose-invert-bold: inherit;
    --tw-prose-invert-counters: inherit;
    --tw-prose-invert-bullets: inherit;
    --tw-prose-invert-hr: inherit;
    --tw-prose-invert-quotes: inherit;
    --tw-prose-invert-quote-borders: inherit;
    --tw-prose-invert-captions: inherit;
    --tw-prose-invert-code: inherit;
    --tw-prose-invert-pre-code: inherit;
    --tw-prose-invert-pre-bg: inherit;
    --tw-prose-invert-th-borders: inherit;
    --tw-prose-invert-td-borders: inherit;
  }
}

.nav-link-indicator {
  @apply absolute top-0 h-full rounded-md transition-all duration-500 ease-in-out;
  width: var(--indicator-width, 0);
  transform: translateX(var(--indicator-left, 0));
  z-index: 5;
}

@layer utilities {
    @keyframes marquee {
        from { transform: translateX(0); }
        to { transform: translateX(-50%); }
    }

    .marquee {
        animation: marquee 60s linear infinite;
    }
}
