@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 17% 98%; /* #f8f9fa */
    --foreground: 215 16% 18%;
    --card: 210 17% 98%; /* #f8f9fa */
    --card-foreground: 215 16% 18%;
    --popover: 210 17% 98%; /* #f8f9fa */
    --popover-foreground: 215 16% 18%;
    --primary: 209 67% 95%; /* #eaf3fa */
    --primary-foreground: 212 41% 35%; /* #34537d */
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 212 41% 35%; /* #34537d */
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 209 67% 95%; /* #eaf3fa */
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
