
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    
    --card: 0 0% 100%;
    --card-foreground: 224 71% 4%;
    
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 197 100% 47%;
    --primary-foreground: 0 0% 100%;

    --secondary: 209 15% 65%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 94%;
    --muted-foreground: 0 0% 40%;

    --accent: 220 9% 40%;
    --accent-foreground: 197 100% 47%;

    --destructive: 0 84.2% 40.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 220 13% 88%;
    --input: 220 13% 88%;
    --ring: 197 100% 47%;
    
    --radius: 0.5rem;

    --sidebar: 220 9% 40%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-border: 220 9% 45%;
    --sidebar-accent: 220 9% 45%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-ring: 197 100% 47%;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-foreground;
  }
  
}

.nav-link-indicator {
  @apply absolute top-0 h-full rounded-md transition-all duration-500 ease-in-out;
  width: var(--indicator-width, 0);
  transform: translateX(var(--indicator-left, 0));
  z-index: 5;
}

@layer utilities {
    @keyframes marquee {
        from { transform: translateX(0); }
        to { transform: translateX(-50%); }
    }

    .marquee {
        animation: marquee 60s linear infinite;
    }
}

/* Cropper.js override to fix magenta background */
.cropper-modal {
  background-color: #000 !important;
  opacity: 0.5 !important;
}
