
.tiptap p {
    margin: 0;
}

.tiptap p.is-editor-empty:first-child::before {
  color: hsl(var(--muted-foreground));
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.tiptap .is-small {
    font-size: 0.8em;
    font-weight: normal;
}

/* Fix for list marker colors inside the editor */
.tiptap .prose-invert ul > li::marker,
.tiptap .prose-invert ol > li::marker {
    color: hsl(var(--background));
}


/* Define custom colors as CSS variables for easy management */
:root {
    --color-tiptap-white: hsl(var(--background));
    --color-tiptap-blue: hsl(var(--primary));
    --color-tiptap-gray: hsl(209 15% 65%);
}

.tiptap strong {
    color: inherit; /* Inherit color so it doesn't override span colors */
    font-weight: bold;
}

.tiptap span[style*="color: var(--color-tiptap-white)"] {
    color: var(--color-tiptap-white);
}

.tiptap span[style*="color: var(--color-tiptap-blue)"] {
    color: var(--color-tiptap-blue) !important; /* Use !important to ensure override */
}

.tiptap span[style*="color: var(--color-tiptap-gray)"] {
    color: var(--color-tiptap-gray);
}
