
.tiptap p {
    margin: 0;
}

.tiptap p.is-editor-empty:first-child::before {
  color: hsl(var(--muted-foreground));
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.tiptap span[style*="font-size: small"] {
    font-size: 0.8em;
    font-weight: normal;
}

/* Define custom colors as CSS variables for easy management */
:root {
    --color-tiptap-white: hsl(var(--background));
    --color-tiptap-blue: hsl(197 100% 47%);
    --color-tiptap-gray: hsl(209 15% 65%);
}

.tiptap span[style*="color: var(--color-tiptap-white)"] {
    color: var(--color-tiptap-white);
}

.tiptap span[style*="color: var(--color-tiptap-blue)"] {
    color: var(--color-tiptap-blue);
}

.tiptap span[style*="color: var(--color-tiptap-gray)"] {
    color: var(--color-tiptap-gray);
}
